*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 6050px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    /* //////////////////////////////////////////////////////Header/////////////////////////////////////////////// */
.header{
    width: 100%;
    height: 50px;
   background-color: rgba(39, 111, 111,0.7);
    position: fixed;
    z-index: 5;
}

.header-item{
    height:60% ;
    float: left;
     margin:15px 20px;
   
}

.header-item .logo-icon{
    color: white;
font-size: 22px;
margin-left: 5px;

}

.header-item-search{
    margin: 10px;
}
.header-search-bar{
width: 250px;
height: 30px;
border-radius: 25px;
border: none;
padding-left: 35px;
}

.header-item .fa-magnifying-glass{
position: absolute;
z-index:2 ;
margin:8px  15px;
}

.header-item li{
    list-style-type: none;
 margin-right: 30px;
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
    height: 25px;
}

.header-item2{
    float: right;

}

.header-item .links li::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: rgb(171, 171, 254);
    opacity: 1;
    margin-top: 20px;

}

.blog-drop-down .blog-drop-down-links li::after{
    margin-top: 30px;
}

.header-item .links li:hover:after{
    width: 100%;
    height: 10%;
    opacity:0.5;
    transition: 0.5s;
}

.blog-drop-down{
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    z-index: 5;
    padding: 0px 28px 0px 5px;
    margin:25px 0%;
    visibility: hidden;
}

.blog-drop-down li{
    color: black;

list-style: none;
position: relative;
font-size: 16px;
margin:10px 0px 18px 0px;
padding: 5px;
text-transform: capitalize;



}



.blog-link:hover .blog-drop-down{
visibility: visible;
transition: 0.5s;
}

.blog-drop-down:hover .blog-drop-down{
    visibility: visible;
}



/* ///////////////////////////////////////////////////////section 1///////////////////////////////////////////////////// */

.section-1{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/An\ Understanding\ About\ Oral\ Health\ Care\ Services\ In\ GTA.jfif);
}
.section-1-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(57, 61, 57, 0.7);
    
}

.section-1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.section-1-content h2{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
}

.section-1-content button{
    padding: 10px;
    width: 130px;
    height: 55px;
    border-radius: 15px;
 
    font-size: 20px;
    text-transform: capitalize;
      border: none;
   
}

.section-1-content button:hover{
    opacity: 0.5;
}

.section-1-btn2{
    color: white;
    background-color: rgb(87, 87, 207);
}

.section-1-content p{
    color: rgb(208, 204, 204);
    opacity: 0.7;
    margin: 10px 0px;
}

/* ////////////////////////////////////////////section 2/////////////////////////////////////////////////// */
.underlined-title{
    text-transform: capitalize;
   
    font-size: 40px;
  position: absolute;
margin-top: 70px;
margin-left:36%;
}

.underline{
    width: 90px;
    height: 4px;
    background-color: blue;
    position: absolute;
margin-top: 130px;
margin-left:46%;
}
.section2-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 251, 250);
}

.section2-parent{

    width: 90%;
    background-color: azure;
    margin: auto;
   
 
}

.section2-item{
    width: 30%;
    height: 250px;
    background-color: white;
    text-align: center;
    float: left;
    margin-top: 200px;
    
    padding: 10px;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgb(87, 87, 207);

}

.section2-item2{
margin: 200px 5%;
}


.section2-item-content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2;
   text-align: center;
padding-right: 20px;


}


.section2-item-p, .section2-item-title,.section2-item-link  {
    margin: 20px 0px;
    text-transform: capitalize;
}

.section2-item-p{
    color: gray;
}

.section2-item-link{
    text-decoration: none;
}

.section2-item-link,.section2-item .fa-solid{
 color: rgb(87, 87, 207);
}

.section2-item .fa-solid{
    font-size: 30px;
      margin: 10px 0px;
}

.section2-item::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
top: 0;
left: 0;
background-color: rgb(175, 175, 254);


}

.section2-item:hover::before{
width: 100%;
height: 100%;
opacity: 0.7;
transition: 1s;
position: absolute;
z-index: 1;
}

.section2-item:hover .section2-item-title{
color: white;
}
.section2-item:hover .section2-item-p{
color: black;
}

/* ///////////////////////////////////////////////////section 3/////////////////////////////////////////////////// */
.section3-container .underlined-title{
    color: white;
}

.section3-container{
    width: 100%;
    height: 100vh;
    background-color:rgb(39, 111, 111);
     
}

.section3-overflow{
width: 100%;
height: 100%;
position: absolute;
overflow-y: scroll;
}

.section3-parent{
    width: 80%;
height: 82%;
    position: absolute;
    margin-top: 120px;
    margin-left: 10%;
 
   
}

.section3-title{
    margin-top: 30px;
    margin-left: 38%;
    
}

.section3-ul{
    margin-top: 7%;
    margin-left: 45%;
}

.section3-item{
    width: 30%;
    height: 200px;
    background-image: url(../earth\ green.jfif);
    background-size: cover;
    float: left;
    position: relative;
   
}

.section3-item2{
    margin: 0px 5%;
}

.section3-item-overlay{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(57, 61, 57, 0.7);
    visibility: hidden;
}


.section3-item:hover .section3-item-overlay{
visibility: visible;
}
.section3-item-title{
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px 0px;
    color: rgb(195, 255, 239);
}

.section3-item-p{
      margin: 20px 0px;
      color: white;
}

.section3-item .fa-solid,.section3-item .fa-regular{
    width: 40px;
    height: 30px;
    color: rgb(44, 92, 81);
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
 text-align: center;

}

.section3-item-overlay a i{
line-height: 30px;
}

.section3-row2 .section3-item{
margin-top: 20px;
}

/* ///////////////////////////////////////////////////section 4/////////////////////////////////////////////// */

.section4-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 251, 250);
}

.section4-title{
    margin-left: 40%;
   margin-top: 32px;
}
.section4-ul{
     margin-left: 46%;
     margin-top: 7%;
}
.section4-parent{
    width: 80%;
    height: 75%;
    margin: auto;
    position: relative;
    top: 120px;
   
    
}

.section4-item{
width: 30%;
height: 200px;
background-color: rgb(255, 255, 255);
border-radius: 10px;
border: 1px solid rgb(99, 28, 253);
position: relative;
float: left;

}
.section4-item2{
    margin: 0px 5%;
}

.section4-icon{
    font-size: 30px;
    color: rgb(67, 67, 235);
  margin-top: 25px;
  margin-left: 10px;
 float: left;
}
.section4-item-text{
     margin: 12px;
position: absolute;
display: inline;
top: 15px;
color: gray;

}

.section4-item-title{
    text-transform: capitalize;
    color: black;
}

.section4-item-content{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
    
   
}
.section4-item::before{
position: absolute;
content: "";
width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgb(203, 182, 250)
}

.section4-item:hover::before{
width: 100%;
height: 100%;
opacity: 0.5;
transition: 0.7s;
}

.section4-row2  .section4-item{
margin-top: 20px;
}

.section4-item:hover .section4-item-title{
    color: rgb(102, 60, 255);
}

.section4-item:hover .section4-item-p{

    color: black;
}

/* ////////////////////////////////////////////////////section 5////////////////////////////////////////////// */

.section5-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


.section5-parent{
    width: 80%;
   overflow-x: scroll;
    margin: auto;
    position: relative;
    top: 7.5%;
 
}
.section5-title{
    margin: 0px;
 
}
.section5-ul{
    margin: 50px 0px;
    width: 70px;
  
}
.section5-text{
    width: 50%;

margin: 80px 0px;
float  :left

}
.section5-p{
    color: rgb(0, 128, 122);
}

.section5-list li{
      font-size: 16px; 
      margin: 35px 0px;
      color: rgb(123, 123, 123);
}

.section5-list{
    list-style: none;
}

.fa-check{
    color: rgb(48, 48, 231);
}
.section5-image{
    width: 50%;
 
float: left;
   
  
}
.section5-image img{
margin-left: 200px;
}
.section5-fill-list{
    margin-right: 100px;
}
.section5-fill-list li{
    color: rgb(183, 182, 182);
    margin-left: 30px;
    float: right;
    font-size: 45px;
    
}
.section5-fill-list .colored-fill-list-item{
    color: rgb(48, 48, 231);
}
.section5-fill-list li:hover{
color: rgb(48, 48, 231);
}

/* /////////////////////////////////////////////////section 6///////////////////////////////////////////////// */

.section6-container{
    width: 100%;
    height: 75vh;
    background-image:url(../images/portrait-male-female-dentist-standing-dental-clinic.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   
   
}

.section6-overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(55, 55, 55, 0.7);
}
.section6-parent{
    width:80%;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    
}

.section6-item{
    width: 25%;
    height: 180px;
    text-align: center;
    padding: 15px;
    float: left;
}

.section6-icon{
    font-size: 40px;
    color: rgb(185, 249, 249);
    margin: 20px;
}

.section6-item-p{
    color: white;
    font-size:20px;
}

/* ////////////////////////////////////////////////////section 7//////////////////////////////////////////////// */

.section7-container{
    width: 100%;
    height: 150vh;
    background-color: rgb(255, 255, 255);

}

.section7-title{
    margin-top: 10%;
    margin-left: 41%;
}

.section7-ul{
        margin-top: 15%;
}

.section7-parent{
width: 75%;

position: absolute;
margin-top: 25%;
margin-left: 155px;

}

.section7-item{
    width: 30%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(147, 31, 255);
    position: relative;
    float: left;
}

.section7-item2{
    margin: 0px 5%;
}

.section7-item-content{
    width: 100%;
    height: 100%;
  
    position: absolute;
    z-index: 2;
}

.section7-item-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(127, 23, 255);
      padding: 10px;
      margin: auto;
}

.section7-item-circle-title{
    font-size: 35px;
    text-align: center;
    margin: 5px 0px;
  
}
.section7-item-circle-h4{
    text-align: center;
}


.section7-item p{
  text-align: center;
 text-transform: capitalize;
margin: 20px;
}

.section7-item-title{
text-transform: uppercase;
text-align: center;
font-size: 15px;
margin: 50px 0px 25px 0px;
}

.section7-item-button{
   margin-left: 55px;
   width: 170px;
   height: 30px;
   border-radius: 10px;
   border: 2px solid rgb(49, 49, 239);
   text-transform: capitalize;
   cursor: pointer;
}

.section7-item-circle-p{
    text-transform: uppercase;
   
}

.section7-item::before{
position: absolute;
content: "";

width: 100%;
height: 0%;

top: 0;
left: 0;
background-color: rgb(190, 237, 218);
opacity: 1;
border-radius: 10px;
}

.section7-item:hover::before{
width: 100%;
height: 100%;
opacity: 0.7;
transition: 0.5s;
position: absolute;
z-index: 1;
}

/* ////////////////////////////////////////////section 8//////////////////////////////////////////////////// */

.section8-container{
    width: 100%;
    height: 70vh;
    background-image:url(../images/team-female-dentists-treating-patients-teeth-visit-dentist-dentistry.jpg);
    background-size: cover;
    background-attachment: fixed;
     background-color: rgb(247, 175, 76);
}

.section8-parent{
    width: 70%;
   
    margin: auto;
    position: absolute;
    margin-top:8%;
    margin-left: 16%;
}
.section8-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.7);
}

.section8-item{
    width: 50%;
    height: 200px;
   
     padding: 10px;
     text-transform: capitalize;
     float: left;
    
}


.section8-item-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    float: left;
    margin: 15px;
}

.section8-item-circle img{
     width:100%;
      height:100%;
    border-radius: 50%;
}

.section8-item-job-title{
    color: rgb(144, 144, 253);
}

.section8-item-name{
 margin-top: 30px;
 font-size: 30px;
 color: white;
}
.section8-item-p{
    margin-left: 20px;
    font-size: 16px;
    color: rgb(185, 249, 249);
    word-spacing: 2px;

}

/* ////////////////////////////////////////////////section 9/////////////////////////////////////////////////////// */

.section9-container{
    width: 100%;
    height: 100vh;
 
}

.section9-title{
    margin-top: 60px;
    margin-left: 540px;
}
.section9-ul{
    margin-top: 115px; 
}

.section9-parent{
    width: 80%;
  
    position: absolute;
    margin-top: 170px;
    margin-left: 128px;
}

.section9-item{
    width: 30%;
    height: 350px;
    border-radius: 10px;
    background-color: rgb(190, 237, 218);
    position: relative;
     padding: 20px;
     float: left;
}

.section9-item2{
    margin: 0px 5%;
}

.section9-item-img{
    width: 230px;
    height: 230px;
      margin: 10px 20px;

    position: relative;

}

.section9-item-img img{
    width: 100%;
    height: 100%;
    position: absolute;
  

}

.section9-item-txt{
    width: 100%;
    height: 25%;
 
    text-align: center;
}

.section9-item-txt-name{
    margin: 10px 0px;
    text-transform: capitalize;
}

.section9-item-txt-job-title{
    text-transform: uppercase;
    color: rgb(165, 165, 165);
}

.section9-item-img-icons{
    position: absolute;
    z-index: 2;
margin-left: 190px;   
}

.section9-item-img-icons a{
    text-decoration: none;
    
}
.section9-item-img-icons .fa-brands{
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: rgb(91, 91, 255);

}

.section9-item::after{
    position: absolute;
    content: "";

    width: 100%;
    height: 0%;

    top: 0;
    left: 0;
    background-color: rgb(140, 203, 197);
    opacity: 1;
}

.section9-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 0.5s;
}

.section9-item:hover .section9-item-txt-name{
color: white;
}

.section9-item:hover .section9-item-txt-job-title{
color: blue;
}

/* ///////////////////////////////////////////////////section 10/////////////////////////////////////////////////// */

.section10-container{
    width: 100%;
    height: 150vh;
    background-color: rgb(255, 255, 255);
}

.section10-title{
    margin-left: 515px;
}


.section10-parent{
    width: 80%;
  position: absolute;
  margin-top: 200px;
  margin-left: 130px;
   
   
}

.section10-item{
    width: 30%;
    height: 510px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border: 1px solid rgb(140, 44, 249);
    border-radius: 10px;
    float: left;

}

.section10-item2{
    margin: 0px 5%;
}
.section10-item-part1{
    width: 90%;
    height: 60%;
   
   
margin-top: 20px;
margin-left: 15px;
}
.section10-item-part1 img{
    width:100%;
     height:80%;
     border-radius: 10px;
     margin-bottom: 20px;

}
.section10-item-icons{
    /* width: 100%; */
    height: 20%;

    text-align: center;
    position: relative;
    padding-left:16px ;

    
   
}
.section10-item-icons-p{
    margin: 10px 20px 0px 0px;
}

.section10-item-icons .fa-brands{
  
   
    /* font-size: 20px; */
    margin: 20px 0px;
}

.content{
position: absolute;
z-index: 2;  
}
.section10-item-part2{
    text-align: center;
    
 border-radius: 10px;
    padding: 13px;
    margin-top: 325px;
}
.section10-item-part2-p{
    margin: 20px 0px;
    color: gray;
}

.section10-item-job-title , .section10-item-icons-p{
text-transform: capitalize;
}

.section10-item-part2-link ,.section10-item-icons .fa-brands{
    text-decoration: none;
  color: rgb(99, 28, 253);
}


.section10-item::before{
position: absolute;
content: "";
width: 100%;
height: 0;
top: 0;
left: 0;
background-color: rgb(182, 177, 251);
opacity: 0.7;
}

.section10-item:hover::before{
width: 100%;
height: 100%;
opacity: 0.7;
transition: 0.5s;
}

.section10-item:hover .section10-item-job-title{
color: white;
}

.section10-item:hover .section10-item-part2-p{
color: black;
}

/* /////////////////////////////////////////////////section 11/////////////////////////////////////////////// */

.section11-container{
    width: 100%;
    height: 60vh;
    background-color: rgb(39, 111, 111);
}

.section11-parent{
    width: 50%;
    position: absolute;
    margin-top: 10px;
    margin-left: 320px;
    /* background-color: aquamarine; */
    
}

.section11-icons{
    width: 75%;
    margin-top: 15px;
    margin-left: 75px;
    
}

.section11-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(143, 143, 253);
    /* float: left; */
    display: inline-block;
    margin-left: 15px;
    text-align: center;
   
}

.section11-img{
     width:250px;
     height:180px;
     margin-top: 10px;
margin-left: 188px;
border-radius: 10px;
}

.section11-icon .fa-brands,.section11-icon .fa-solid{
    line-height: 60px;
    color: white;
    font-size: 30px;
   
}



.section11-icon .fa-plus{

    font-size: 15px;
    font-weight:900px;
 margin-left: 5px;

line-height: 20px;
   
}

.section11-icon:hover{
background-color: rgb(70, 1, 190);

}

.section11-p{
    text-align: center;
    margin: 10px 0px;
    color: white;
}

/* ///////////////////////////////////////////////////Finish/////////////////////////////////////////////// */