*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 3000px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(2, 100, 82);
    opacity:0.3;
    position: fixed;
    z-index: 5;
}

.header-item{
    height:60% ;
    float: left;
     margin:15px 20px;
   
}

.header-item .fa-house{
    color: white;
font-size: 22px;
margin-left: 5px;

}

.header-item-search{
    margin: 10px;
}
.header-search-bar{
width: 250px;
height: 30px;
border-radius: 25px;
border: none;
}

.header-item .fa-magnifying-glass{
position: absolute;
z-index:2 ;
margin:8px  15px;
}

.header-item li{
    list-style-type: none;
 margin-right: 30px;
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
    height: 25px;
}

.header-item2{
    float: right;

}

.header-item .links li::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 10%;
    top: 0;
    left: 0;
    background-color: blue;
    opacity: 1;
    margin-top: 20px;

}

.blog-drop-down .blog-drop-down-links li::after{
    margin-top: 30px;
}

.header-item .links li:hover:after{
    width: 100%;
    height: 10%;
    opacity:0.5;
    transition: 0.5s;
}

.blog-drop-down{
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    z-index: 5;
    padding: 0px 28px 0px 5px;
    margin:25px 0%;
    visibility: hidden;
}

.blog-drop-down li{
    color: rgb(98, 43, 226);

list-style: none;
position: relative;
font-size: 16px;
margin:10px 0px 18px 0px;
padding: 5px;
text-transform: capitalize;



}



.blog-link:hover .blog-drop-down{
visibility: visible;
transition: 0.5s;
}

.blog-drop-down:hover .blog-drop-down{
    visibility: visible;
}